# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
*.iml
.vscode/

# Node
backend/node_modules/
node_modules/

# Local demo database
backend/data/database.json

# JetBrains / Android Studio
.idea/
